@using Kendo.Mvc.UI
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Application.Models.Attendances.AttendanceModel

@{
    Layout = "_Layout";
}

<div class="text-center">
    <h2>Employees</h2>
    @(Html.Kendo().Grid<Application.Models.Attendances.AttendanceModel>()
        .Name("grid")
        .Columns(columns =>
        {
            //TODO: editor template
            columns.Bound(c => c.Id).Hidden();
            columns.Bound(c => c.Employee).EditorTemplateName("Employee");
            columns.Bound(c => c.Occurrence).EditorTemplateName("Occurrence");
            columns.Bound(c => c.Description);
            columns.Bound(c => c.OccurrenceStartDate);
            columns.Bound(c => c.OccurrenceEndDate);
            columns.Command(command => command.Destroy());
        })
        .ToolBar(toolbar =>
        {
            toolbar.Create();
            toolbar.Save();
        })
        .Editable(editable => editable.Mode(GridEditMode.InLine))
        .DataSource(dataSource => dataSource
            .Custom()
            .Transport(transport =>
            {
                transport.Read(read => read.Action("GetAttendances", "Attendance"));
                
            })
            .Schema(schema => schema.Data("Data"))
                
        ))
</div>