@using Kendo.Mvc.UI
@using Application.Models.Attendances
@model AttendanceModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Attendances";
}

<div class="text-center">
    <h2>Attendance Register</h2>
    @(Html.Kendo().Grid<AttendanceModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Id).Hidden();
            columns.Bound(c => c.Employee).ClientTemplate("#=data.Employee != null ? Employee.FullName : '' #");
            columns.Bound(c => c.Occurrence).ClientTemplate("#=data.Occurrence != null ? Occurrence.Title : '' #");
            columns.Bound(c => c.Description);
            columns.Bound(c => c.OccurrenceStartDate).Format("{0:dd/MM/yyyy}");
            columns.Bound(c => c.OccurrenceEndDate).Format("{0:dd/MM/yyyy}");
            columns.Command(command =>
            {
                command.Edit();
                command.Destroy();
            });
        })
        .ToolBar(toolbar =>
        {
            toolbar.Create();
        })
        .Editable(editable => editable.Mode(GridEditMode.InLine))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model =>
            {
                model.Id(a => a.Id);
                model.Field(a => a.Employee);
                model.Field(a => a.Occurrence);
            })
            .Read(read => read.Action("GetAttendances", "Attendance"))
            .Create(create => create.Action("PostAttendance", "Attendance"))
            .Update(update => update.Action("PutAttendance", "Attendance"))
            .Destroy(destroy => destroy.Action("DeleteAttendance", "Attendance"))
            .Events(e => e.Error("onError"))
        )
    )
</div>
<script>
    function onError(args) {
        let errors = args.errors;
        if (errors) {
            let grid = $("#grid").data("kendoGrid");
                grid.one("dataBinding", function (e) {
                    e.preventDefault();
                    $.each(errors, function (key, value) {
                        let message = "";
                        if ('errors' in value) {
                            $.each(value.errors, function() {
                                message += this + "\n";
                            });
                        }
                        grid.editable.element.find("[data-valmsg-for='" + key + "']").replaceWith('<div class="k-widget k-tooltip k-tooltip-error" style="width:fit-content"><span class="k-icon k-i-exclamation-circle"> </span>' + message + '<div class="k-callout k-callout-n"></div></div>').show();
                });
            });
        }
    }
</script>