@using Kendo.Mvc.UI
@model Application.Models.Attendances.AttendanceModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Attendances";
}

<div class="text-center">
    <h2>Attendance Register</h2>
    @(Html.Kendo().Grid<Application.Models.Attendances.AttendanceModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Id).Hidden();
            columns.Bound(c => c.Employee).EditorTemplateName("Employee");
            columns.Bound(c => c.Occurrence).EditorTemplateName("Occurrence");
            columns.Bound(c => c.Description);
            columns.Bound(c => c.OccurrenceStartDate).Format("{0:dd/MM/yyyy}").EditorTemplateName("DatePickerEditor");
            columns.Bound(c => c.OccurrenceEndDate).Format("{0:dd/MM/yyyy}").EditorTemplateName("DatePickerEditor");
            columns.Command(command =>
            {
                command.Destroy();
                command.Edit();
            });
        })
        .ToolBar(toolbar =>
        {
            toolbar.Create();
        })
        .Editable(editable => editable.Mode(GridEditMode.InLine))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model => model.Id(a => a.Id))
            .Read(read => read.Action("GetAttendances", "Attendance"))
            .Create(create => create.Action("PostAttendance", "Attendance"))
            .Update(update => update.Action("PutAttendance", "Attendance"))
            .Destroy(destroy => destroy.Action("DeleteAttendance", "Attendance"))
            )
        )
</div>