@using Kendo.Mvc.UI
@model Application.Models.Attendances.AttendanceModel

@{
    Layout = "_Layout";
}

<div class="text-center">
    <h2>Employees</h2>
    @(Html.Kendo().Grid<Application.Models.Attendances.AttendanceModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Id).Hidden();
            columns.ForeignKey(c => c.EmployeeId, dataSource => dataSource.Read(r=>r.Action("GetEmployees", "Home")), "Id","FullName").Title("Full Name").Width(300);
            
        })
        .ToolBar(toolbar =>
        {
            toolbar.Create();
        })
        .Editable(editable => editable.Mode(GridEditMode.InCell))
        .DataSource(dataSource => dataSource
            .Custom()
            .Transport(transport =>
            {
                transport.Read(read => read.Action("GetAttendances", "Attendance"));
                
            })
            .Schema(schema => schema.Data("Data"))
                
        ))
</div>